<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"PhoneBook" | localize}}</span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button class="btn btn-primary" (click)="createCustomerModal.show()"><i class="fa fa-plus"></i>
                            {{"CreateNewPerson" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
        <form autocomplete="off">
            <div class="kt-form">
                <div class="row align-items-center kt-margin-b-10">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input [(ngModel)]="filter" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot' | localize)" type="text">
                                <span class="input-group-btn">
                                    <button (click)="getPeople()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
             <p-table #dataTable
                                sortMode="multiple"
                                [value]="customers"
                                rows="10"
                                [paginator]="false"
                                [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:130px">{{'Actions' | localize}}</th>
                                        <th pSortableColumn="customerCode">
                                            {{'customerCode' | localize}}
                                            <p-sortIcon field="customerCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="customerName">
                                            {{'customerName' | localize}}
                                            <p-sortIcon field="customerName"></p-sortIcon>
                                        </th>
                                        <th>{{'Edition' | localize}}</th>
                                        <th pSortableColumn="subscriptionEndDateUtc">
                                            {{'SubscriptionEndDateUtc' | localize}}
                                            <p-sortIcon field="subscriptionEndDateUtc"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="isActive">
                                            {{'Active' | localize}}
                                            <p-sortIcon field="isActive"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creationTime">
                                            {{'CreationTime' | localize}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body"
                                    let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group"
                                                dropdown
                                                placement="bottom left">
                                                <button id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>      
                                                <ul id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton">
                                                   <li role="menuitem">
                                                        <a href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deletePerson(record)">{{'Delete' | localize}}</a>
                                                    </li>                                               
                                                </ul>                                          
                                            </div>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'customerCode' | localize}}</span>
                                            <i *ngIf="record.connectionString"
                                                class="fa fa-database"
                                                title="{{'HasOwnDatabase' | localize}}"></i>
                                            {{record.customerCode}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'customerName' | localize}}</span>
                                            {{record.customerName}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'Edition' | localize}}</span>
                                            {{record.editionDisplayName}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'SubscriptionEndDateUtc' | localize}}</span>
                                            {{ record.subscriptionEndDateUtc ? (record.subscriptionEndDateUtc | luxonFormat:'F') : '-'}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'Active' | localize}}</span>
                                            <span *ngIf="record.isActive"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.isActive"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'CreationTime' | localize}}</span>
                                            {{record.creationTime | luxonFormat:'F'}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                             <createCustomerModal #createCustomerModal (modalSave)="getPeople()"></createCustomerModal>
        </div>
    </div>
</div>